<div class="form-group">
	<div class="name col-sm-4">
		<%= name %></span>		
	</div>
	<div class="kindMenu col-sm-5">
		<select name="inputImageType[]" class="form-control" placeholder="Type">
				<option value="">Pick a category</option>
			<% for(var i = 0, l = kindImages.length; i < l;i++) { %>
				<option value="<%= kindImages[i] %>" <%= (kindImages[i] === kind ) ? "selected" : "" %> >
					<%= kindImages[i] %>
				</option>
			<% } %>
		</select>
		<input type="file" class="filestyle" name="inputImageFile[]" />
	</div>	
	<div class="thumbnail-wrap col-sm-3">
		<img src="http://placehold.it/120x80" alt="">
		<span class="glyphicon glyphicon-remove remove"></span>
	</div>
</div>
