<div class="form-group">
	<div class="name col-sm-4">
		<%= name %></span>		
	</div>
	<div class="kindMenu col-sm-5">
		<select name="inputImageType[]" class="form-control" placeholder="Type">
				<option value="">Pick a category</option>
			<% for(var i = 0, l = imageTypes.length; i < l;i++) { %>
				<option value="<%= imageTypes[i] %>" <%= (imageTypes[i] === kind ) ? "selected" : "" %> >
					<%= imageTypes[i] %>
				</option>
			<% } %>
		</select>
		<input type="file" class="filestyle" name="inputImageFile[]" />
	</div>	
	<div class="thumbnail-wrap col-sm-3">
		<% if (typeof prdId != 'undefined') { %>
			<img src="http://localhost:4242/api/products/images/<%= prdId %>/<%= kind.toLowerCase() %>" alt="">
		<% } else { %>
			<img src="http://placehold.it/120x80" alt="">
		<% } %>
		<span class="glyphicon glyphicon-remove remove"></span>
	</div>
</div>
