
/* Products */
/*
select#inputCategory {
	width:50%;
}*/

/* Product listing */

.productList tbody > tr {
	cursor:pointer;
}

.imageList.nav {
	max-height: 200px;
	overflow:auto;
}

.imageThumb {
	height: 273px;
}

.category-items button.btn {
	margin-right: 10px;
}

.category-items ul,
.imagetype-list ul { padding: 0px;}

.category-items ul > li,
.imagetype-list ul > li {
	list-style-type : none;
}
.category-items ul > li {
	display: inline-block;
}

.imagetype-list ul > li > .remove {
	cursor:pointer;
}